{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [[
    "module-alias", [
      { "src": "./src/actions", "expose": "actions" },
      { "src": "./src/components", "expose": "components" },
      { "src": "./src/reducers", "expose": "reducers" },
      { "src": "./src/utils", "expose": "utils" }
    ]
   ]]
}
