{
  "presets": [
    "babel-preset-expo",
    "jest"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [[
    "module-alias", [
      { "src": "./src/actions/", "expose": "actions" },
      { "src": "./src/components/", "expose": "components" },
      { "src": "./src/config/", "expose": "config" },
      { "src": "./src/reducers/", "expose": "reducers" },
      { "src": "./src/scenes/", "expose": "scenes" },
      { "src": "./src/utils/", "expose": "utils" }
    ]
   ]]
}
